body {
    font-family: 'Arial', sans-serif;
    background-color: #4a4343;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.heading {
    position: relative;
    left: 800px;
    margin: 0;
    color: white;
}

#top-right-image {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; 
}

.top-right-image {
    width: 120px; 
    height: auto;
}

#left-panel {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    right: 140px;
}

#dictionary-app {
    width: 100%; 
    max-width: 800px;
    background-color: teal;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    position: relative;
    right: 70px;
}

#word-input-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#wordInput {
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px; 
}

#definition {
    margin-top: 15px;
}

#liked-words, #searched-words {
    margin-top: 20px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

#liked-words ul, #searched-words ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#liked-words h2, #searched-words h2 {
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

li {
    margin-bottom: 10px;
}

#word-list-container {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

#liked-words, #searched-words {
    flex: 1;
    margin-right: 10px;
}

@media (max-width: 1200px) {
    #left-panel {
        width: 100%;
        right: 0;
        box-shadow: none;
    }

    #dictionary-app {
        max-width: 100%;
        margin: 20px;
        right: 0;
        max-height: none;
    }
}

/* Add this media query to hide the logo on screens with width less than 600px */
@media (max-width: 600px) {
    .heading {
        display: none;
    }

    #top-right-image {
        display: none;
    }
}
